<!doctype html>
<html>
<head>
  <title>Gumo Example</title>
</head>
<body>
<h1>Gumo Example</h1>

<h2>Tasks</h2>
<ul>
    {% for task in tasks %}
        <li>
            {% if task.is_finished %}✔{% endif %}
            {{ task.name.value }} ({{ task.created_at.isoformat() }})
            <form id="projects_form" action="/tasks/{{ task.key.task_id }}/update/project" method="post">
                <select id="projects" name="project_id">
                    {% for project in projects %}
                        <option value={{ project.key.project_id }}>{{ project.name.value }}</option>
                    {% endfor %}
                    <option value="None">None</option>
                </select>
                <input type="submit" value="save">
            </form>
            <form action="/tasks/{{ task.key.task_id }}/update/name" method="post">
                <input type="text" name="new_task_name">
                <input type="submit" value="rename">
            </form>
            <form action="/tasks/{{ task.key.task_id }}/delete" method="post">
                <input type="submit" value="delete">
            </form>
            <form action="/tasks/{{ task.key.task_id }}/update/status" method="post">
                {% if task.is_finished %}
                    <input type="hidden" name="finished" value="false">
                    <input type="submit" value="undone">
                {% else %}
                    <input type="hidden" name="finished" value="true">
                    <input type="submit" value="done">
                {% endif %}
            </form>
        </li>
    {% endfor %}
</ul>

<form action="/tasks" method="post">
    <input type="text" name="task_name">
    <input type="submit" value="create">
</form>

</body>
</html>
